body {
  background-color: powderblue;
}
/* center the login div */
.center-div{
  position: block;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  height: 120px;
  border-radius: 3px;
}

.center-div-fut{
  position: block;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 700px;
  height: 200px;
  border-radius: 3px;
}
.center-text{
	text-align: center;
}


/* center placeholder text */
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}