{% extends "base.html" %}
{% block content %}
	<div class="center-div">
		<form id="addHackathon">
			<label>Name of Event</label>
			<input type="text" name="eventName" id="eventName"><br>
			<label>Title</label>
			<input type="text" name="title" id="title"><br>
			<label>Venue</label>
			<input type="text" name="venue" id="venue"><br>
			<label>Date</label>
			<input type="text" name="date" id="date"><br>
			<label>Description</label>
			<textarea id="description" rows="10" cols="50"></textarea>
			<button id="addHackathonButton" type="Submit">Submit</button>
		</form>
		
	</div>
{% endblock %}