{% extends "base.html" %}
{% block content %}
	<div class="center-div">
		<form id="loginForm" action="">
			<input id="email" type="text" name="email" placeholder="email" required><br>
			<input id="password" type="password" name="password" placeholder="password" required><br>
			<button id="login" type="button">Login</button>
			<button id="signUp" type="button">Sign up</button>
		</form>
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='js/authentication.js') }}"></script>
{% endblock %}